body {
	background: rgb(0, 66, 0);
	color: white;
}

h1 {
	font-size: 25px;
	text-align: center;
}

h3 {
	font-size: 20px;
}

#map {
    width: 100%;
    height: 99vh;
    top:0;
    bottom: 0;
}

#searchbar {
	margin-top: 20%;
}

.fail {
	color: red;
}

.gm-style-iw {
	text-align: center;
}

.info-content {
	color: black;
}

.info-content p {
	margin-top: 0.5em;
	font-size: 1em;
}

.instagram img {
	max-width: 55%;
}

.main-nav {
	list-style: none;
	padding: 0;
}

.main-nav-item {
	display: block;
	font-size: 1.2em;
	line-height: 2em;
	white-space: normal;
	overflow: hidden;
	width: 100%;
}

.main-nav-item:hover {
	background: #00c98a;
	cursor: pointer;
}

.row {
margin-right: -5px;
margin-left: -5px;
}

.section-content {
	padding: 0;
}

.site-header {
    padding: 24px 24px 24px 12px;
	margin-bottom: 2em;
}


@media only screen and (max-width: 990px) {
	h1 {
		font-size: 20px;
	}

	li {
		font-size: 10px;
	}

	#searchbar {
		margin-top: 5%;
		padding-right: 5%;
		padding-left: 5%;
	}

	.main-nav-item {
		overflow: hidden;
		text-overflow: ellipsis;
		width: 33.33%;
	}

	.row {
		padding-bottom: 2%;
	}
}

@media only screen and (max-width: 780px) {
	.main-nav-item {
		width: 100%;
	}

	.col-md-3 {
		padding-right: 0px;
		padding-left: 0px;
	}

	.row {
    margin-right: -5px;
    margin-left: -5px;
	}
}